{erl_opts, [debug_info, warnings_as_errors]}.
{require_otp_vsn, "R15"}.
{deps, [
  {proper, "1.1",
   {git, "git://github.com/manopapad/proper.git",
   {tag, "v1.1"}}}
]}.
{erl_opts, [
    debug_info,
    warn_export_all,
    warn_export_vars,
    warn_shadow_vars,
    warn_obsolete_guard,
    warn_unused_import,
    warnings_as_errors
]}.
{edoc_opts, [{preprocess, true}]}.
{edoc_opts, [{todo, true}]}.
{cover_enable, true}.
{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls
]}.
